<h1>Daily Journal</h1>
<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <label for="datepicker" class="col-xs-4 col-md-1 control-label">Entry for </label>
                <div class="col-xs-8 col-sm-2">
                    <div class="input-group date" id="datepicker">
                        <input type="text" class="form-control"><span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<h1>Today's Entry</h1>
<div class="row">
    <div class="col-xs-12">
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="col-sm-offset-3 col-sm-9">
                    <button type="button" class="btn btn-default pull-right" id="entry-submit">Update Today's Entry</button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-12">
                    <textarea class="form-control" id="entry-text" rows="1" placeholder="What happened today..."></textarea>
                </div>
            </div>
        </form>
    </div>
</div>
<h1>History</h1>
<div id="journal-history"></div>